# =========================
# Node / package managers
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Next.js
# =========================
.next/
out/
dist/
.vercel/
.turbo/
.swc/

# =========================
# Env files (NO subir)
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Permite versionar ejemplos
!.env.example

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Prisma
# =========================
node_modules/.prisma/
node_modules/prisma/engines/
prisma/dev.db
prisma/dev.db-journal

# =========================
# Tests / coverage
# =========================
coverage/
.nyc_output/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.iml

# =========================
# Misc caches
# =========================
.cache/
